body {
    background-color: #25b6db;
    background-image: url('bg.png');
    margin: 0;
    padding: 0;
}

body * {
    border-radius: 15px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

body *:focus {
    outline: transparent;
}