.menu-header__menu-nav {
    display: block;
    float: right;
    margin-left: 1rem;
    list-style: none;
}

.menu-header__menu-nav a{
    text-transform: uppercase;
    font-weight: bold;
}

.menu-header__menu-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.menu-header__menu-nav li {
    display: inline-block;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    color: #1E2446;
    position: relative;
    border: solid 2px #1E2446;
}

.menu-header__menu-nav li:hover{
    background-color: #BCBDBF;
}




.navMenu {
  display: inline-block;
  /* float: right; */
  position: absolute;
  /* background-color: #000000; */
  top: 15%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #000000;
  padding: 1rem;
  /* padding-left: 100px; */
  /* padding-right: 50px; */
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  /* width: 120px; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #1128d8;
}

.navMenu .dot {
  width: 8px;
  height: 8px;
  background: #000000;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(calc(30px + 1rem));
  transform: translateX(calc(30px + 1rem));
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(400px);
  transform: translateX(400px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
